/* Page */

body {
	background-color:111111;
	margin:0;
	padding:0;
	text-align:center;
}
#container {
	background-color:222222;
	margin: 0 auto;
	width: 900px;
}
#content {
	padding: 0px 10px 10px;
	text-align:left;
}
#copyright {
	font-family:"Courier New",courier,serif;
	padding: 12px;
	background-color:111111;
	color:00AA00;
	font-size:11px;
}

.spanning {
	width:100%;
}

/* Columns */

.columnContainer {
	float:left;
	width:100%;
}

.column {
	width:33%;
	float:left;
	position:relative;
}

.columnInner {
	padding:5px;
}

#col2 {
	background-color:333333;
}

.columnHeader {
	margin-top:0px;
}

/* "Form" */

textarea {
	width:100%;
	resize:vertical;
}

#outputDisplay {
	background-color:white;
}

input[type=password] {
	width:150px;
}

input.valid {
	background-color:lightgreen;
}

input.invalid {
	background-color:#FF8080;
}

td.passwordCell {
	width:70%;
}

/* Text Styles */
p, li, div {
	font-family:"Trebuchet",sans-serif;
	color:DDDDDD;
}

b {
	color:FFFFFF;
}

label {
	font-family:"Courier New",courier,serif;
	font-weight:bold;
	color:DDDDDD;
}

h1, h2, h3 {
	font-family:"Courier New",courier,serif;
	color:00AA00;
}

.title {
	font-family:"Courier New",courier,serif;
	font-size:28pt;
	font-weight:bold;
	color:00AA00;
}

a:not([name]) { /* Any link that's not an anchor.*/
    font-family:"Trebuchet",sans-serif;
    color:00BB00;
}
.subtitle {
	font-family:"Courier New",courier,serif;
	color:00BB00;
}
